# if one want to use torch with cuda, comment out line 3 and comment line 4
# --find-links https://download.pytorch.org/whl/cu118/torch_stable.html
# torch==2.1.1+cu118
torch==2.1.1
numpy==1.25
sounddevice
ffmpeg-python
transformers
asyncio
nltk
num2words
accelerate
punctuators
dearpygui