body{
  font-family: Arial, sans-serif;
  background: #fff;
  min-height:75vh;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#000;
}
  
select{
  border:outline;
  padding: 10px 20px;
  border-radius:5px;
}

select:focus{
  outline:none;
}
output{
  border:outline;
  padding: 10px 20px;
  border-radius:5px;
}

output:focus{
  outline:none;
}
button{
  border:none;
  padding: 10px 20px;
  border-radius:5px;
}

button:focus{
  outline:none;
}
.ontainer {
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
  
.material-textfield {
  position: relative;
}

label {
  position: absolute;
  font-size: 1rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: gray;
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
}

input {
  font-size: 1rem;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 1rem 0.7rem;
  color: gray;
  transition: 0.1s ease-out;
}

input:focus {
  border-color: #6200ee;
}

input:focus+label {
  color: #6200ee;
  top: 0;
  transform: translateY(-50%) scale(0.9) !important;
}

input:not(:placeholder-shown)+label {
  top: 0;
  transform: translateY(-50%) scale(0.9) !important;
}

input:not(:focus)::placeholder {
  opacity: 0;
}

.generator-config{
  width: 55%;
  margin-right: 2%;
  float: left;
}

.output-window{
  width: 42%;
  float: left;
}

p {
  width: 400px;
  height: 250px;
  margin: 10px;
  padding: 20px;
  font-size: 14px;
  position: relative;
  left: -150px;
  background: #eee;
  white-space: pre-wrap;
  display: flex;
  overflow-y: auto;
  overflow-x: clip;
  flex-direction: column-reverse;
}